@media (max-width: 900px) {
	.nav1 {
		display: none;
	}
	.burger-icon {
		display: block;
	}
	.img1 {
		width: 420px;
		height: 196.5px;
	}
	.textl {
		display: none;
	}
	.textm {
		display: none;
	}
	.textn {
		display: none;
	}
	.texto {
		display: none;
	}
	.text1 {
		font-size: 18px;
	}
	.left-box {
		width: 285px;
		height: 160px;
	}
	.right-box {
		width: 285px;
		height: 160px;
	}
	.box1 {
		width: 135px;
		height: 135px;
	}
	.img2 {
		width: 135px;
		height: 105px;
	}
	.text-box1 {
		font-size: 13px;
		padding-top: 7px;
		padding-left: 7px;
	}
	.text2 {
		font-size: 18px;
	}
	.text5 {
		font-size: 18px;
	}
	.left-block1 {
		display: none;
	}
}

@media (max-width: 560px) {
	.img1 {
		display: none;
	}
	.textl {
		position: static;
		display: block;
		color: #000000;
		top: 90px;
		left: 20px;
	}
	.textm {
		position: static;
		display: block;
		color: #000000;
		top: 120px;
		left: 20px;
	}
	.textn {
		position: static;
		display: block;
		color: #000000;
		top: 150px;
		left: 20px;
	}
	.texto {
		position: static;
		display: block;
		color: #000000;
		top: 180px;
		left: 20px;
	}
	.right-box {
		display: none;
	}
	.conteiner3 {
	display: none;
	}
}
@media (max-width: 480px) {
	.conteiner4 {
		display: none;
	}
}